@charset "UTF-8";
body{
    line-height: 1.7;
    font-size: 20px;
    font-family: "Yu Gorhic", "YuGothic","Hiragino Kaku Gothic ProN",
    "Hiragino Sans","Meiryo",sans-serif;
    color: #333;
    }
/* header */
header h1{
       font-size: 40px;
       font-family: "Wawati SC", sans-serif;
       color: #333;
       text-align: center;
       }
header p{
         width: 100%;
         }
img{
        max-width: 100%;
        }

/* footer */
footer {
       text-align: center;
       padding: 18px;
       color: #333;
       }
/* main */
h2{
    font-size: 40px;
    font-family: "Andale Mono", monospace;
    color: #333;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    }
    h2::before,h2::after{
        content: "";
        height: 1px;
        width: 60px;  
        background-color: #333;
    }
    h2::before{
        margin-right: 15px;
    }
    h2::after{
        margin-left: 15px;
    }


ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
li{
    width: 35%;
    text-align: center;
    padding-bottom: 50px;
}
main{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
p img{
    display:block;margin:0 auto;
}
.ub{
    text-decoration: underline;
    font-size: 23px;
    font-family: "Andale Mono", monospace;
    color: #333;
    text-align: center;
}
p{
    text-align: center;
}
h3{
    text-align: center;
}
.ub1 {
  margin-top: 100px;
}
.ub2 {
    margin-top: 80px;
}
.work {
  cursor: pointer;
}

.work .info {
  display: none;
  font-size: 14px;
  color: #555;
  margin-top: 8px;
}
.work .info p {
  text-align: left;
}

.work .info p:last-child {
  padding-left: 5em;
  text-indent: -5em;
}
